<div class="wrapper">

    <app-button routerLink="/"></app-button>

    <h1>Modifica el estudiante!</h1>

    <div class="form">

        <label>Nombre y apellido</label>
        <input [(ngModel)]="formAddName" type="text">
        <p class="error" *ngIf="errorFormAddName" style="color: #f11">{{ errorFormAddName }}</p>

        <label>Estado</label>
        <select [(ngModel)]="formAddStatus">
            <option value="aprobado">aprobado</option>
            <option value="intensificación">intensificación</option>
            <option value="desaprobado">desaprobado</option>
        </select>
        <p class="error" *ngIf="errorFormAddStatus" style="color: #f11">{{ errorFormAddStatus }}</p>

        <button (click)="editStudent()">Modificar estudiante</button>

    </div>
    
    <br><br>

    <h1>Elemina el estudiante!</h1>

    <div class="form">

        <button (click)="removeStudent()">Eliminar estudiante</button>

        <p>Si da click en el botón "Eliminar estudiante" se eleminara a el estudiante {{ formAddName }} de la tabla/lista.</p>

    </div>

</div>