<div class="wrapper">

  <app-button routerLink="/"></app-button>

  <h1>Agrega un estudiante!</h1>

  <div class="form">

    <label>Nombre y apellido</label>
    <input [(ngModel)]="formAddName" type="text">
    <p class="error" *ngIf="errorFormAddName" style="color: #f11">{{ errorFormAddName }}</p>

    <label>Estado</label>
    <select [(ngModel)]="formAddStatus">
      <option value="aprobado">aprobado</option>
      <option value="intensificación">intensificación</option>
      <option value="desaprobado">desaprobado</option>
    </select>
    <p class="error" *ngIf="errorFormAddStatus" style="color: #f11">{{ errorFormAddStatus }}</p>

    <button (click)="addNewStudent()">Agregar estudiante</button>

  </div>

</div>