<div class="wrapper">

  <button class="come-back" routerLink="/">REGRESAR</button>

  <h1>Agrega un estudiante!</h1>

  <div class="form">

    <label for="name">Nombre y apellido</label>
    <input [(ngModel)]="formAddName" id="name" type="text">
    <p class="error" *ngIf="errorFormAddName" style="color: #f11">{{ errorFormAddName }}</p>

    <label for="select">Estado</label>
    <select [(ngModel)]="formAddStatus" id="select">
      <option value="aprobado">aprobado</option>
      <option value="intensificación">intensificación</option>
      <option value="desaprobado">desaprobado</option>
    </select>
    <p class="error" *ngIf="errorFormAddStatus" style="color: #f11">{{ errorFormAddStatus }}</p>

    <button (click)="addNewStudent()">Agregar estudiante</button>

  </div>

</div>