<div class="wrapper">


  <nav class="nav">

    <app-button [content]="'AGREGAR ESTUDIANTE'" routerLink="/add-student"></app-button>

    <app-button [content]="'AYUDA'" (click)="help()"></app-button>

  </nav>

  <table class="table">

      <caption>Estudiantes</caption>
    
      <thead>
        <tr>
          <th>N°</th>
          <th>Nombre</th>
          <th>Estado</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let student of students; let i = index" [ngSwitch]="student.status" [routerLink]="['/edit-student',i]">
          <th>{{ i + 1 }}</th>
    
          <td>{{ student.name }}</td>
    
          <td>
            <span class="tr-student" *ngSwitchCase="'aprobado'" style="color: #0f0;">{{ student.status }}</span>
            <span class="tr-student" *ngSwitchCase="'desaprobado'" style="color: #f00;">{{ student.status }}</span>
            <span class="tr-student" *ngSwitchCase="'intensificación'" style="color: #fd0;">{{ student.status }}</span>
          </td>
    
        </tr>
      </tbody>

  </table>

  <div id="help-window" class="help-window">
    <h1>Como usar?</h1>
    <ul>
      <li>Si haces click en el link de "AGREGAR ESTUDIANTE" puedes agregar un estudiante.</li>
      <li>Si haces click en algún estudiante puedes modificar u/o eliminar al estudiante.</li>
      <li>Para cerrar esta ventana has click de nuevo en el botón de "AYUDA".</li>
    </ul>
  </div>

</div>

