<div class="wrapper">
  <a routerLink="/add-student">Para gregar estudiantes has click aquí.</a>
  <table class="table">
      <caption>Estudiantes</caption>
    
      <thead>
        <tr>
          <th>N°</th>
          <th>Nombre</th>
          <th>Estado</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let student of students; let i = index" [ngSwitch]="student.status" (click)="func(student, i)">
          <th>{{ i + 1 }}</th>
    
          <td>{{ student.name }}</td>
    
          <td>
            <span *ngSwitchCase="'aprobado'" style="color: #0f0; background-color: #111; padding: 3px 10px; border-radius: 20px;">{{ student.status }}</span>
            <span *ngSwitchCase="'desaprobado'" style="color: #f00; background-color: #111; padding: 3px 10px; border-radius: 20px;">{{ student.status }}</span>
            <span *ngSwitchCase="'intensificación'" style="color: #fd0; background-color: #111; padding: 3px 10px; border-radius: 20px;">{{ student.status }}</span>
          </td>
    
        </tr>
      </tbody>
  </table>
</div>