/* You can add global styles to this file, and also import other style files */
:root{
    --color1: #222831;
    --color2: #393E46;
    --color3: #00ADB5;
    --color4: #EEEEEE;
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
}